/*
  This file is included as minified and included as inline css
*/
* {
	font-family: 'Quicksand', sans-serif;
}
body {
	overflow-y: scroll;
}
#nav {
	z-index: 2;
	background-color: rgba(230,230,230,0.7);
	border-radius: 0;
	border: 0;
}
#nav * {
	background-color: rgba(0,0,0,0);
}
.navbar-header:first-child {
	vertical-align: middle;
}
#CV1, #CV2 {
	border: 1px solid #000;
}
#CV2 {
	margin-bottom: 10px;
}
#cvContainer {
	padding: 0;
}
.thumbnail {
	border: 0;
	border-radius: 0;
}
.thumbnail div {
	position: relative;
	width: 31%;
	padding-bottom: 31%;
	height: 0;
	margin: 1.16%;
	display: inline-block;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}
.thumbnail div * {
	opacity: 0.8;
	margin: -25%;
	width: 178%;
}
.thumbnail div:hover * {
	opacity: 1;
}
.galleryMain {
	padding: 0;
	margin: 0;
	width: 100%;
}
.galleryMain * {
	margin: 0 5%;
	width: 90%;
}
.galleryList {
	margin: 0 auto;
	border: none;
	font-size: 110%;
}
.galleryList td {
	padding: 2% 0;
}
.galleryList td:hover {
	text-decoration: underline;
	cursor: pointer;
}
.image_data {
	width: 100%;
	text-align: center;
}
.image_data tr {
	margin: 0;
	padding: 0;
}
.image_data td {
	margin: 0;
	padding: 0;
	width: 50%;
}
#image_container {
	padding: 0;
}
.nav > li {
	background-color: rgba(0,0,0,0);
}
canvas {
	width: 100%;
	margin: 0;
	padding: 0;
}
.largearrow {
	font-size: 200%;
}
.largearrow:active {
	color: #111;
}
.tab {
	padding: 0;
	padding-bottom: 80px;
}
div.datacard {
	background-color: rgba(230,230,230,0.7);
	display: table;
	vertical-align: middle;
	border: 1px solid #000;
}
p.datacard {
  vertical-align: middle;
  display: table-cell;   
	text-align: center;
}
.fh {
	line-height: 50px;
	font-size: 24px;
	margin-left: 5px;
}
#footer {
	position: fixed;
	width: 100%;
	z-index: 2;
	padding: 5px 10px;
	bottom: 0;
	background-color: rgba(230,230,230,0.7);
}